<html>
<head>
    <title></title>
    <style>

    </style>
</head>
<body>
<div>
    <h1 id="music-title"></h1>
    <img alt="Album image" id="album-picture" src=""/>
</div>
<script type="text/javascript">
    setInterval(updatePlaybackData, 1000);

    function updatePlaybackData() {
        fetch(`${window.location}/data`)
            .then(res => res.json())
            .then(
                body => {
                    console.log(body);
                    if (body.currently_playing_type === 'track') {
                        document.getElementById('music-title').innerText = body.item.name

                        const imageSrc = body.item.album.images.sort((img1, img2) => img1.wdith - img2.width)[0]
                        document.getElementById('album-picture').setAttribute('src', imageSrc.url)
                    } else {
                        console.log(`Playing type is ${body.currently_playing_type}`)
                    }
                }
            ).catch(err => console.error(err));
    }
</script>
</body>
</html>
